.form-area{
  padding: 2px;
  display : grid;
  gap: 10px;
}

label{
  display: grid;
  gap: 8px;
  font-family: "Inter";
  font-size : 18px;
  font-weight:500;
}

input{
  padding: 8px 4px;
  border-radius: 8px;
  min-width: 250px;
  font-family: "Inter";
  font-size: 16px;
  font-weight:500;
}

button{
  font-family: "Inter";
  font-size: 16px;
  font-weight:600;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color:#FFA726;
}

button:hover{
  background-color: #FB8C00;
}