*{
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #87CEEB;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter"
}


.main-square {
  display: flex;
  flex-direction: column;
  background: #D3DDE6;
  padding:25px 15px ;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 3rem;
}
